.addButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding:15px 20px;
  background-color: var(--accent-primary);
  color: white;
  border-radius: var(--radius-lg);
  font-weight: 500;
  transition: var(--transition-fast);
  
  &:hover {
    background-color: var(--accent-hover);
    transform: translateY(-1px);
  }
}